<!DOCTYPE html>
<html>
  <%- include('partials/head', { title: 'Profile' }) %>
  <body>
    <h1>User Profile</h1>
    <%- include('partials/user-links') %>
    <p>
      Username: <%= user.username %>
      <a href="/user/edit-profile"><i class="fa fa-pencil"></i></a>
    </p>
    <p>Email: <%= user.email %></p>
    <p>Account created on: <%= user.createdAt.toLocaleString() %></p>
  </body>
</html>
