<!-- views/profile.ejs -->

<!DOCTYPE html>
<html>
  <%- include('partials/head', { title: 'Profile' }) %>
  <body>
    <h1>Welcome to your profile, <%= user.username %>!</h1>
    <%- include('partials/user-links') %>
    <h2>Your profile information</h2>
    <p>Username: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
    <p>Account created on: <%= user.createdAt.toLocaleString() %></p>
    <a href="/user/edit-profile">Edit profile <i class="fa fa-pencil"></i></a>
  </body>
</html>
